:root {
  --font-main: "Inter", sans-serif;
  --font-heading: "Rosehot", sans-serif;
  --font-script: "jungle-george.regular", "Allura", cursive;
  --font-signature: "QwitcherGrypen-Bold", "Allura", cursive;
  --font-accent: "Armelie-Regular", sans-serif;
  --font-this-is: "jungle-george.regular", "Allura", cursive; /* You can change this to "Armelie-Regular", "jungle-george.regular", "Rosehot", etc. */
}

@font-face {
  font-family: "Armelie-Regular";
  src: url("../fonts/Armelie-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "QwitcherGrypen-Bold";
  src: url("../fonts/QwitcherGrypen-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "QwitcherGrypen-Regular";
  src: url("../fonts/QwitcherGrypen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rosehot";
  src: url("../fonts/Rosehot.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "jungle-george.regular";
  src: url("../fonts/jungle-george.regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-main {
  font-family: var(--font-main);
}

.font-heading, .h-section, .body-text {
  font-family: var(--font-heading);
}

.font-script, .script {
  font-family: var(--font-script);
}

.font-signature {
  font-family: var(--font-signature);
}

.font-accent {
  font-family: var(--font-accent);
}

.font-this-is {
  font-family: var(--font-this-is);
}
